*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 12px;
}

body {
	margin: 0;
	--color-text: #000100;
	--color-bg: #e2d9c7;
	--color-link: #395bb5;
	--color-link-hover: #000100;
	--color-gallery-title: #2c2724;
	--color-gallery-number: #d9d0be;
	--color-gallery-link: #fff;
	--color-gallery-link-bg: #2858d7;
	--color-gallery-link-hover: #fff;
	--color-gallery-link-bg-hover: #d4b77d;
	color: var(--color-text);
	background-color: var(--color-bg);
	--cursor-stroke: none;
	--cursor-fill: #c5681c;
	--cursor-stroke-width: 1px;
	font-family: halyard-display, sans-serif;
	font-weight: 300;
	word-break: keep-all;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.dot-grid-bg {
	position: fixed;
	inset: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	position: relative;
	justify-content: center;
}

.cursor {
	display: none;
}

@media (any-pointer:fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
	}

	.cursor__inner {
		fill: var(--cursor-fill);
		stroke: var(--cursor-stroke);
		stroke-width: var(--cursor-stroke-width);
		opacity: 0.7;
	}

	.no-js .cursor {
		display: none;
	}

}

html {
	overflow-y: hidden;
}

/*! locomotive-scroll v4.0.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
	overflow: hidden; }
  
  html.has-scroll-dragging {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; }
  
  .has-scroll-smooth body {
	overflow: hidden; }
  
  .has-scroll-smooth [data-scroll-container] {
	min-height: 100vh; }
  
  [data-scroll-direction="horizontal"] [data-scroll-container] {
	white-space: nowrap;
	height: 100vh;
	display: inline-block;
	white-space: nowrap; }
  
  [data-scroll-direction="horizontal"] [data-scroll-section] {
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	height: 100%; }
  
  .c-scrollbar {
	position: absolute;
	right: 0;
	top: 0;
	width: 11px;
	height: 100%;
	transform-origin: center right;
	transition: transform 0.3s, opacity 0.3s;
	opacity: 0; }
	.c-scrollbar:hover {
	  transform: scaleX(1.45); }
	.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
	  opacity: 1; }
	[data-scroll-direction="horizontal"] .c-scrollbar {
	  width: 100%;
	  height: 10px;
	  top: auto;
	  bottom: 0;
	  transform: scaleY(1); }
	  [data-scroll-direction="horizontal"] .c-scrollbar:hover {
		transform: scaleY(1.3); }
  
  .c-scrollbar_thumb {
	position: absolute;
	top: 0;
	right: 0;
	background-color: black;
	opacity: 0.5;
	width: 7px;
	border-radius: 10px;
	margin: 2px;
	cursor: -webkit-grab;
	cursor: grab; }
	.has-scroll-dragging .c-scrollbar_thumb {
	  cursor: -webkit-grabbing;
	  cursor: grabbing; }
	[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
	  right: auto;
	  bottom: 0; }